fastapi
uvicorn
sqlalchemy[postgresql]
psycopg2-binary
requests
pydantic
python-dotenv
beautifulsoup4
selenium
webdriver-manager
openai
groq
numpy
sentence-transformers
pinecone-client
pgvector
python-multipart
Pillow
faiss-cpu
langchain-openai
langchain-community
langchain-core
celery
redis
passlib[bcrypt]
pyjwt
pydantic-settings
python-jose[cryptography]
